doctype 5
html
  head
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(src='http://code.jquery.com/jquery-1.6.1.min.js')
    script(src='/socket.io/socket.io.js')
    script
      // socket.io specific code
      var socket = io.connect();

      socket.on('connect', function () {
                $('#chat').addClass('connected'); 
                socket.emit('user_message', 'ping');  
              });       

      socket.on('message', function (msg) { 
                $('#lines').prepend($('<p>').append($('<em>').text(msg)));
               });                
   
      //- socket.on('error', function (e) {
      //-       message('System', e ? e : 'A unknown error occurred');
      //-     });     

   

      // dom manipulation
      //- $(function () {
      //-   $('#set-nickname').submit(function (ev) {
      //-     socket.emit('nickname', $('#nick').val(), function (set) {
      //-       if (!set) {
      //-         clear();
      //-         return $('#chat').addClass('nickname-set');
      //-       }
      //-       $('#nickname-err').css('visibility', 'visible');
      //-     });
      //-     return false;
      //-   });   

        //- $('#send-message').submit(function () {
        //-          message('me', $('#message').val());
        //-          socket.emit('user message', $('#message').val());
        //-         clear();
        //-         $('#lines').get(0).scrollTop = 10000000;
        //-         return false;
        //-       });                      
                        
        //- function clear () {
        //-          $('#message').val('').focus();
        //-        }; 
      //- });
  body
   #header
    
   #console
    #messages
     #lines
    