#header
#console
#messages
    #lines 
form#send-message
 button Send
    //- form(method="post")  
    //-     input(type="button", name="Ping", value="ping", onclick="send('ping')")          
       
