# #nickname, #connecting
#   position absolute
#   height 410px
#   z-index 100
#   left 0
#   top 0
#   background #fff
#   text-align center
#   width 600px
#   font 15px Georgia
#   color #666
#   display block
#   .wrap
#     padding-top 150px 
# #nickname
#   input
#     border 1px solid #ccc
#     padding 10px
#     &:focus
#       border-color #999
#       outline 0
#   #nickname-err
#     color darkred
#     font-size 12px
#     visibility hidden  
# connected
#   #connecting
#     display none
# 
# .nickname-set
#   #nickname
#     display none       
# #send-message
#   background #fff
#   position relative
#   input
#     border none
#     height 30px
#     padding 0 10px
#     line-height 30px
#     vertical-align middle
#     width 580px
#     &:focus
#       outline 0
#   button
#     position absolute
#     top 5px
#     right 5px
# 
# button
#   download-button()        
